APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:4g61FBvkHJywOTcLuU2CKnJjIwVrdQykI7h0vZif08c=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=passport
DB_USERNAME=root
DB_PASSWORD=

# passport google informations
GOOGLE_CLIENT_ID=831698939781-9qg5s13i2mb70a9a1rh450rpqn6af14l.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_CALLBACK=http://127.0.0.1:8000/auth/google-callback
GOOGLE_CLIENT_NAME=Passport

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


PASSPORT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQCsrX6D9f989HUX
0UGJUcEC0LLLv/TR/aBWBsi87R1aosNqlQA4ClItpuYRqwo+/zx2a1kdYslY+KN5
krPML3ChPopw4sHOxLQcZLgrX7wwrtZ8FU1uf5ndAJZsbEUP/pUHg4fGh7xBvL79
CmXBad2cQkteLtfJBybPlTmblv6aQbLfPOk6cfrP3N/XzrEz9FahUx4VDmZV1dic
wJbuvDXTKywIZ2J9t1us34y1y2cI399DQI3T0Hx91YOFwDkcx/fv3g2vxazOn9y8
Ibjmkf6p26/sRmRcxC+aqIrvFusZkpSc82jcXnxpjpKtariIU8anXSZ1xV6vMJ7K
cc7RZINpeg93bYGyPcntsnsGHlExrh8PrSMbx12fiAsXbT0nk5SsVafbzX7BoggU
P0LlZI/x8Cg794Gb4QkZRf0Aqjm1Fpkaw7ucgvUxVZXfcESwcYVCPxz6ocLlaSQ6
dlXdwdFZnqO/yfzUOG8ttN+qjaaFn5mJYJBRpQFLyM6RIkD7AGmFMCjECotfJgk1
/Ew5hlf1A/mSL1o7W5hzJgbbvBB3peL0ryn+30BnzxMzpkMPO5Q54jszrBZZ66q+
bblbRP1s8unl47Un+VFXTPP23exK/YKAMQnGgJNY90h7Ir/3X3vlp4jEJiv2uvY/
yhHnZhGrSDmHaMzhrjkbgQ1crrmegQIDAQABAoICAAc/yxj4gMje1SPaZUZB2jDP
YMMyoEE41ORpqV+bk3z2qm4o+lLv9Xxcxmm5WM81XUUiK3IDL71iRlAkNVPCDdga
GVsk/OKModxTiuMIxEx1qZPY29jixtuHItmDR9i0nQ5tQlvmfsPye+DhAO24T104
EASQoj7ac9HZA5utYIvKrGsIakjpqDA150iOwQQTqtef1vpmseuCdFMb13ZHLNoM
NN93MiSBmCnbMnO/Gdiut9dxoEajOPe6KQjqXYdwmm89ruzJN2CPB+f2wTW+TS71
teZtG9lkY9R6BQelqlnm7EHkytseBRp0GaKpwVyZSkSkUakV76w6hf8NHTPvlJ/t
P9dbNLdD/+penC6nsnpo79J7gVD39suIBH3/YX8iogbLmhFY45iRkJ1vmGjTHJI3
YQFlUPN+D/0S/vQRM5QhX/hWl5oJ4UDGG6OpAinKKXtzwH5Mg4vX64ebxF6PI54Z
4nzGaWRXvK4NQGEyLzH6PfNb8T/fjAd/BQ3XNHauZFjxPgme2OLrr1InFi60hqEc
1NivuSaKC+uhP5vU+z9j7YELQAHbTW2K2/m2h+E2bYS/bZ/7po4JX6hwaHWqmdpC
A8O+FXx13T1+I7Xf4Po5n3VpmH8UTcXDRNjpiY0W0hzvc9vsc/nS7b0/jdYWdacC
XZA9x8dA5VD+gBWeE1oxAoIBAQDVs0+H5VbrQOlbJex9v+MqZALMO0mJE+WpkooC
15RDaV3IEA9REYvpc3C3OnCZN/VM0fBze7II4uVwlgKqbUNYQoL19TwVg3aU9vJ0
aq/YckfNjfHCGS+PC4coXCcIIDY/JpNsCSFg01Ya0ECEARgxxlfQzFfKqdq2s/9G
2bl51mECQ6NhyUDoT9w5Yxy6oWA8emcgPNX++G5pzgLYrMJwH/PBkVFx3RjT2BRr
dUM0JLMF4L8eA5Fi/DE4HYwHcY1WD7PImR2mmVybqh+pgLLyWFW/CFhieuNc3pil
FVCbF0v6qtXaHmwerlWUWkQpzhpeF+Ho+xbHRh0BCyYeRJ1xAoIBAQDO23fxDHx5
Mla/ttIe3acsK3U/CnLZspiADjvWV8egzVqgJS0RBvMqiijLi/2ff9mcVQfevAL6
LUvS10mhsRe4MxB0wJ/r/UvseKKpKUp5xgkhA71EVJSM3LwvqWtPdQT4R9BQDJmJ
/QmLiio1J9KoZgvkveSNdBoP1kBwxdeuaFr4MQ39qCCeaWjj2NHT0V2ct3Qv5loa
MBQqTY3g6Ribqc1iwqwVjfwaQSVV1j9U4ZRkcJvOfLMJAn85GH2gjsbhaHaRO+qP
yPe+Yh5ghUnRKwL1oNrX8krhHOal461bNtOgIIXgLMGLvekT3p9gIl/oD2k7OBmR
gjD6NM7O8MoRAoIBAQDM4iJhBxdja5OPqPdoxL1WGha4mirxepsZDf61pNxoGTAp
rIQS1IDQrLYnZacorwbGxQ0Em1ZgwLD7VUdvAFyt1O7cQ2d8tNLPFUf1J4g6O67t
u6ZK0nzPZ10I6/kcCE4aE7EJxmMzAsut33XLWYVJy4DMFe4hxuGDg2U/F2WFE21k
j1aoXRyW3mIkvwp/QFMVCMGwncMJtkOduz7tYAz3FRtNvTZZtYGlMai6Me3ho0Hk
Y8q4SvFr9qB1zZZAWLUKCvnyXCKaZLTuJZg/mb13LgvfoG+k028CzgOJWrsyRo64
4GsxuTMt4zT3i+eIMSsEhV85UOpQ2b7bDkZYhK5xAoIBAQCX1S+sluWmb/SMs7x3
O2rBWQSuSRUUBas6EziIk9XLie/DLIZvwRIrX02iWhbHRCiOPzuPmaD10Nme4LcD
H+GxKoohqGG57ioUYFfEorIvv9Rjj0MVLJ/85Oicc1Z49AO52bxlhVoNltWyvq9M
ZPaS9JQ2ScvAqD+Y8EJMhGtTcPWUxyzlyspmfCipVTRurXZw2ZdGsWXhYvjqNBK3
y2Bsoa5Hl2yIRbeN7dNhtei2fP1W2/EBFzaynkqTtg5AE4yXVv3wjHIXKAPwkkSJ
xEvyZAfAE1mOuCGOKpCBoyRTl2KuXjDl4vQNhk/Wbcm93n1W8DjlZsAdtdoNTUWf
T86BAoIBAAdgnSr8/rWA8oHPurydUAkjTeAc4QEGVF6BytmmEDAXCHx18mE8dya7
SNTGO5qfzsfQgXUyKmOgi9Gi8oWiPDIQICJZjq44iVo6/Yg6juhh2P0eqqoJ2xXM
Gn3XCtdEhleDGNNT0t965Ja2wEvTw65UU3zyGub+BAtA6cipCnPDB2oW+5QX35Gn
jkE0VqRWLh+C6H1Zj/L7HEzH/0zWeyybscL6wQTuJSmdNOQKzFKJmZ2/QiYBxMlY
1JquBLGnLLlJdAM3UdULgnIwEka3upZuHEf+fuEZKpHWXJltNeVWQYdq4qs1R7DR
55AieYpD+skfnDDO45puhngcoz2f6ec=
-----END RSA PRIVATE KEY-----"
 
PASSPORT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEArK1+g/X/fPR1F9FBiVHB
AtCyy7/00f2gVgbIvO0dWqLDapUAOApSLabmEasKPv88dmtZHWLJWPijeZKzzC9w
oT6KcOLBzsS0HGS4K1+8MK7WfBVNbn+Z3QCWbGxFD/6VB4OHxoe8Qby+/QplwWnd
nEJLXi7XyQcmz5U5m5b+mkGy3zzpOnH6z9zf186xM/RWoVMeFQ5mVdXYnMCW7rw1
0yssCGdifbdbrN+MtctnCN/fQ0CN09B8fdWDhcA5HMf3794Nr8Wszp/cvCG45pH+
qduv7EZkXMQvmqiK7xbrGZKUnPNo3F58aY6SrWq4iFPGp10mdcVerzCeynHO0WSD
aXoPd22Bsj3J7bJ7Bh5RMa4fD60jG8ddn4gLF209J5OUrFWn281+waIIFD9C5WSP
8fAoO/eBm+EJGUX9AKo5tRaZGsO7nIL1MVWV33BEsHGFQj8c+qHC5WkkOnZV3cHR
WZ6jv8n81DhvLbTfqo2mhZ+ZiWCQUaUBS8jOkSJA+wBphTAoxAqLXyYJNfxMOYZX
9QP5ki9aO1uYcyYG27wQd6Xi9K8p/t9AZ88TM6ZDDzuUOeI7M6wWWeuqvm25W0T9
bPLp5eO1J/lRV0zz9t3sSv2CgDEJxoCTWPdIeyK/91975aeIxCYr9rr2P8oR52YR
q0g5h2jM4a45G4ENXK65noECAwEAAQ==
-----END PUBLIC KEY-----"